.boxcenter{
    width: 80%;
    height: 200px;
    text-align: center;
}
.ten p{
    width: 100%;
    text-align: center;
    font-size: 50pt;
    color: hotpink;
    text-shadow: 5px 5px black;

}
.ten1{
    width: 100%;
    text-align: center;
    font-size: 30pt;
    color:rgb(59, 6, 33);
    text-shadow: 5px 5px hotpink;
}
.cuoi{
    width: 100%;
    text-align: center;
    font-size: 40pt;
    color: rgb(17, 1, 9);
    text-shadow: 5px 5px hotpink;
}
.vd{
    width: 250px;
    height: 150px;
    padding: 20px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 2px hotpink;
    background-size: 100% 100%;
}
.vd1{
    width: 400px;
    height: 50px;
}
.anh{
    width: 250px;
    height: 340px;
    padding: 20px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 2px hotpink;
    background-size: 100% 100%;
}
article{
    margin: 0 auto;
}

